*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorOrange: #FF7F00;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
scrollbar-width:thin
}
body{
    display: block;
    background: #fff;
}

/* Navbar */
.container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg , var(--colorOrange) , #333);
min-height: 800px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
position: fixed;
z-index: 1000;
    background: linear-gradient(-90deg , var(--colorOrange) , #333);

}

.icons img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.navBtns{
    display: flex;
    align-items: center;
}

.navBtns ul{
    display: flex;
    gap: 30px;
}

.navBtns ul li{
    list-style: none;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}

.navBtns ul li:hover{
    background: rgb(162, 87, 11);
}
.textcontent{
    display: flex;
justify-content: space-between;
    width: 100%;
    padding: 20px;
    min-height: 300px;
    position: relative;
top: 130px;
}
.imges{
    width: 100%;
    position: relative;
}
.img{
    position: absolute;
    width: 450px;
    top: 0%;
    left: 33.5%;
    transform: translate(-50% - -50%);
    transition: all 3s ease-in-out;
    z-index: 1;
}



.img1{
width: 200px;
height: 200px;
object-fit: contain;
position: absolute;
left: 460px;
top: 0;
transform: rotate(45deg);
transition: all 2s ease-in-out;
z-index: 1;
}
.img2{
    width: 200px;
    height: 200px;
object-fit: contain;
position: absolute;
left: 700px;
bottom: -220px;
/* transform: rotate(45deg); */
transition: all 2s ease-in-out;
z-index: 1;
}
.img3{
    width: 200px;
    height: 200px;
object-fit: contain;
position: absolute;
left: 200px;
top: 0;
transform: rotate(105deg);
transition: all 2s ease-in-out;
    z-index: 1;
}
.img4{
    width: 200px;
    height: 200px;
    object-fit: contain;
    position: absolute;
    left: 800px;
    top: 0;
    transform: rotate(-85deg);
    transition: all 2s ease-in-out;
    z-index: 1;
}
.textcontent  .para{
    position: absolute;
    display: flex;
    flex-direction: column;
        border-radius: 5px;
    color: #fff;
    gap: 10px;
    justify-content: center;
    align-items: center;
    top: 250px;
    left: 160px;
}
.textcontent > .para h1{
    font-size: 7em;
}
.section1{
    display: flex;
    justify-content: space-around;
background: #35200c;
align-items: center;
min-height: 500px;
position: relative;
}
.section1 > .box{
width: 50%;
min-height: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
padding: 10px;

}
.section1 .box:nth-child(1)::after{
    content: '';
    bottom: 0;
    left: 250px;
    background: rgb(192, 44, 17);
    width: 100px;
    height: 100px;
    position: absolute;
border-radius: 60% 40% 70% 30% / 40% 60% 30% 70%;
transform: skewX(-75deg) skewY(20deg) rotateX(-65deg);
}
.section1 > .box h1{
    font-size: 4em;
}

.itemsBoxs{
    display: flex;
    justify-content: space-around;
    align-items: center;
gap: 20px;
margin: 10px;
}
.itemsBoxs .boxes{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
border-radius: 5px;
position: relative;
}
.itemsBoxs .boxes img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    transition: all ease-in-out 2s;

margin-bottom: 40px;
}
.itemsBoxs .boxes .one1{
    transform: translateX(-350px) rotate(45deg);
    opacity: 0;
   
}

.itemsBoxs .boxes .two2{
    transform: translateX(390px) rotate(-45deg);
    opacity: 0;
    transition: all 1.5 ease-in-out ;

}
.itemsBoxs .boxes .one1.showOne{
    transform: translateX(0px) rotate(0deg);
opacity: 1;
}
.itemsBoxs .boxes .two2.showTwo{
    transform: translateX(0px) rotate(0deg);
opacity: 1;
}
.itemsBoxs .boxes p{
    text-align: center;
position: absolute;
bottom: 0;
margin-bottom: 50px;
font-weight: 800;
}
.itemsBoxs .boxes button{
 position: absolute;
 bottom: 0;
 margin-bottom: 10px;
 padding: 10px;
 border: none;
 outline: none;
 color: #fff;
 background: rgb(204, 70, 70);
border-radius: 5px;
font-weight: 800;
}

.product{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    border-radius: 5px;
    gap: 20px;
    margin-bottom: 10px;
}
.product .proBox{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 500px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
align-items: center;
justify-content: center;
transition: all 1s  ease-in-out;
    position: relative;
    overflow: hidden;
}
.product .proBox::after{
    content: '';
    top: -4em;
    left: -3em;
    background: rgb(238, 140, 36);
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 200px;
    rotate: 45deg;
}
.product .proBox .top{
    width: 100%;
    height: 100%;
position: absolute;
transition: all 1s ease-in-out;
}
.product .proBox .top img{
transition: all 1s ease-in-out;

}
.product .proBox .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(50em);
    background: #35200c;
    color: #fff;
padding: 10px;
height: 50%;
transition: all 1s  ease-in-out;

}
.product .proBox:hover .bottom{
    transform: translateY(0em);
} 
.product .proBox:hover .top img{
  display: flex;
  justify-content: center;
  align-items: center;
    z-index: 12;
    width: 30%;
    height: 30%;
    object-fit: contain;
    transition: all 2s ease-in-out;
} 
.product .proBox .top img{
    width: 100%;
    height: 100%;
object-fit: contain;
}
.product .proBox p{
    text-align: center;
    padding: 10px;
}
.product .proBox button{
    padding: 10px;
    width: 80%;
    font-weight: 800;
    border: none;
    outline: none;
    background: hsl(10, 40%, 20%);
    color: #fff;

}


